<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#" >Scheduler</a>
        </div>
      <div class="d-flex justify-content-end">
        <div>
            <img style="width: 12px;height: 12px;" src="/assets/img/Icon-settings.svg"/>
            <a class="navbar-brand2" href="#" >Setting</a>
        </div>
        <div>
            <img style="width: 12px;height: 12px;" src="/assets/img/Icon-square.svg"/>
            <a class="navbar-brand2" href="#" >Send feedBack</a>
        </div>
      </div>
    </div>
</nav>
