
<div class="sidebar-wrapper">
    <div class="logo mb-3">
       
            <div class="logo-img">
                <img src="/assets/img/rps-logo.png"/>
            </div>
      
    </div>
    <div class="d-flex flex-column">
        <div class="py-3 px-auto list-items" >
            <img  src="/assets/img/Icon-dashboard.png"/>
        </div>
        <div class="py-3 px-auto list-items">
            <img  src="/assets/img/Icon-workflow.png"/>
        </div>
        <div class="py-3 px-auto list-items selected">
            <img  src="/assets/img/Icon-calendar.svg"/>
        </div>
        <div class="py-3 px-auto list-items">
            <img  src="/assets/img/Icon-list.png"/>
        </div>
        <div class="py-3 px-auto list-items">
            <img  src="/assets/img/Icon-report.png"/>
        </div>
        <div class="py-3 px-auto list-items">
            <img  src="/assets/img/Icon-cog.png"/>
        </div>
        <div class="py-3 px-auto list-items">
            <img  src="/assets/img/Icon-info.png"/>
        </div>
    </div>
</div>
