<footer class="footer">
   
        <!-- <nav class="pull-left">
            <ul>
                <li>
                    <a style="text-decoration: none;">
                        Showing 5 out of 5
                    </a>
                </li>
               
            </ul>
            
        </nav> -->
       
 
            <div class="d-flex mx-2 my-3">
                <div style="width:250px"  class="d-flex align-items-center">  
                    <span class="fiveOut">Showing 5 Out Of 5</span>
                </div>
                <div class=" badgeFont badge-l px-2 py-1">
                    <img src="/assets/img/status-l.svg"/>
                    LOW</div>
                <div class="badgeFont badge-m px-2 py-1">
                    <img src="/assets/img/status-m.svg"/>
                    MEDIUM</div>
                <div class="badgeFont badge-h px-2 py-1">
                    <img src="/assets/img/status-h.svg"/>
                    HIGH</div>
            </div>

            <ejs-chiplist id="chip-default">
                <e-chips>
                    <e-chip text="Apple" cssClass="e-primary"></e-chip>
                    <e-chip text="Microsoft" cssClass="e-info"></e-chip>
                    <e-chip text="Google" cssClass="e-success"></e-chip>
                    <e-chip text="Tesla" cssClass="e-warning"></e-chip>
                    <e-chip text="Intel" cssClass="e-danger"></e-chip>
                </e-chips>
            </ejs-chiplist>
         
    
</footer>
